/* Example stylesheet */
.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
}
.popup-menu-item:insensitive {
    color: #7f007f;
    font-weight: normal;
}
