Makefile
Makefile.in
dolt*
intltool*
*.schemas
.*
!.gitignore
*.gmo
*.la
*.lo
*.o
*.pc
libtool
config.h.in
config.h
config.vapi
config.log
config.status
configmake.h
configmake.vapi
configure
autom4te.cache
INSTALL
aclocal.m4
stamp-h1
vala-ccode
*.[ch]
*.tar.bz2
*.tar.gz
