Makefile
Makefile.in
intltool*
.*
*.gmo
*.la
*.lo
*.o
*.pc
libtool
config.h.in
config.h
config.vapi
config.log
config.status
configure
autom4te.cache
INSTALL
aclocal.m4
stamp-h1
vala-ccode
*.[ch]
*.tar.bz2
*.tar.gz
*-gtk2.vala
*.stamp
