%define 	base_version 	0.6
%define 	svn_version 	svn@SVNVERSION@
%define 	release_num     @RELEASE@
Name: 			gnome-globalmenu
Version: 		%{base_version}.%{svn_version}
Release:		%{release_num}%{?dist}
Summary:		Global menu bar widget and library for GTK/GNOME2
Group:			User Interface/Desktops
License:		GPLv2+
URL:			http://code.google.com/p/gnome2-globalmenu/
Source0:		http://gnome2-globalmenu.googlecode.com/files/gnome-globalmenu-%{base_version}.tar.gz
BuildRoot:		%{_tmppath}/%{name}-%{base_version}-%{release}-root-%(%{__id_u} -n)
BuildRequires:	gtk2-devel
BuildRequires:	libwnck-devel
BuildRequires:	gnome-panel-devel
BuildRequires:	bonobo-activation-devel
BuildRequires:  dbus-glib-devel

%description
GNOME Global Menu project aims to improve GNOME toward a Document Centric Desktop Environment. Global Menu is a menu bar shared with every window in this screen/session. This package is the meta package.

%package 		applet
Summary: 		gnome-panel applet for global menu.
Group:			User Interface/Desktops
Requires:		gnome-globalmenu
Requires: 		libwnck
Requires: 		gnome-panel
%description	applet
A menu server for GNOME GlobalMenu project. Built upon libgnomenu's GnomenuServerHelper object, it manages applications' GnomenuMenuBars. 

%package 		devel
Summary: 		headers for global menu development.
Group:			User Interface/Desktops
Requires:		gnome-globalmenu
Requires:		dbus-glib-devel
Requires:		gtk2-devel
%description 	devel
Development files for gnome-globalmenu

%package  		libs
Summary: 		libs for global menu.
Group:			User Interface/Desktops
Requires:		gnome-globalmenu
Requires:		dbus-glib
Requires:		gtk2
%description 	libs
libraries for gnome-globalmenu

%package 	 	gtk
Summary: 		GTK bindings for global menu.
Group:			User Interface/Desktops
Requires:		gnome-globalmenu-libs
Requires:		gtk2
%description 	gtk
GTK bindings for global menu.

%package 	 	tools
Summary: 		GTK bindings for global menu.
Group:			User Interface/Desktops
Requires:		gnome-globalmenu-libs
Requires:		gtk2
%description 	tools
GTK bindings for global menu.

%prep
%setup -q -n gnome-globalmenu-%{base_version}

%build
%configure --disable-gtk-doc --disable-rebuilds
make

%install
rm -rf %{buildroot}
make DESTDIR=%{buildroot} install

%clean
rm -rf %{buildroot}


%files
%defattr(-, root, root)

%files libs 
%defattr(-, root, root)
%{_bindir}/org.gnome.GlobalMenu.Server
%{_datadir}/dbus-1/services/org.gnome.GlobalMenu.Server.service
%{_libdir}/libgmarkupdoc.so
%{_libdir}/libgmarkupdoc.so.0
%{_libdir}/libgmarkupdoc.so.0.0.0
%{_libdir}/libgnomenu.so
%{_libdir}/libgnomenu.so.0
%{_libdir}/libgnomenu.so.0.0.0 
%{_libdir}/libgmarkupdoc-base.so
%{_libdir}/libgmarkupdoc-base.so.0
%{_libdir}/libgmarkupdoc-base.so.0.0.0
%{_libdir}/libgmarkupdoc-dbus.so
%{_libdir}/libgmarkupdoc-dbus.so.0
%{_libdir}/libgmarkupdoc-dbus.so.0.0.0
%{_libdir}/libgmarkupdoc-list.so
%{_libdir}/libgmarkupdoc-list.so.0
%{_libdir}/libgmarkupdoc-list.so.0.0.0

%files devel
%defattr(-, root, root)
%{_datadir}/vala/vapi/gmarkupdoc.vapi
%{_datadir}/vala/vapi/gnomenu.vapi
%{_libdir}/libgmarkupdoc.a
%{_libdir}/libgmarkupdoc.la
%{_libdir}/libgnomenu.a
%{_libdir}/libgnomenu.la
%{_libdir}/libgnomenugtk.a
%{_libdir}/libgnomenugtk.la
%{_libdir}/libgmarkupdoc-base.a
%{_libdir}/libgmarkupdoc-base.la
%{_libdir}/libgmarkupdoc-dbus.a
%{_libdir}/libgmarkupdoc-dbus.la
%{_libdir}/libgmarkupdoc-list.a
%{_libdir}/libgmarkupdoc-list.la
%{_includedir}/libgmarkupdoc/gmarkupdoc-dbusview.h
%{_includedir}/libgmarkupdoc/gmarkupdoc-document.h
%{_includedir}/libgmarkupdoc/gmarkupdoc-documenttreeadapter.h
%{_includedir}/libgmarkupdoc/gmarkupdoc-documentmodel.h
%{_includedir}/libgmarkupdoc/gmarkupdoc-listview.h
%{_includedir}/libgmarkupdoc/gmarkupdoc-view.h
%{_includedir}/libgmarkupdoc/gmarkupdoc-node.h
%{_includedir}/libgmarkupdoc/gmarkupdoc-parser.h
%{_includedir}/libgmarkupdoc/gmarkupdoc-remotedocument.h
%{_includedir}/libgmarkupdoc/gmarkupdoc-section.h
%{_includedir}/libgmarkupdoc/gmarkupdoc.h
%{_includedir}/libgnomenu/gnomenu.h
%{_includedir}/libgnomenu/gnomenu-client.h
%{_includedir}/libgnomenu/gnomenu-server.h
%{_includedir}/libgnomenu/gnomenu-menubar.h
%{_includedir}/libgnomenu/gnomenu-menuview.h

%files gtk
%defattr(-, root, root)
%{_libdir}/libgnomenugtk.so
%{_libdir}/libgnomenugtk.so.0
%{_libdir}/libgnomenugtk.so.0.0.0 

%files applet
%defattr(-, root, root)
%{_libdir}/bonobo/servers/GlobalMenu_PanelApplet.server
%{_libexecdir}/GlobalMenu.PanelApplet

%files tools
%defattr(-, root, root)
%{_bindir}/gnomenu-navigator

%changelog 
* Sun Oct 7 2008 Feng Yu <rainwoodman@gmail.com>
- Update to svn 1351
- Divide into sub packages
* Sun Oct 5 2008 Feng Yu <rainwoodman@gmail.com>
- Update to 0.6
* Sun Mar 23 2008 Feng Yu <rainwoodman@gmail.com>
- change to macros for building x86-64 rpms
* Fri Mar 14 2008 Feng Yu <rainwoodman@gmail.com>
- remove language pack
- move shared files to gnome-globalmenu
* Wed Mar 12 2008 Feng Yu <rainwoodman@gmail.com>
- Separated .gmo files
- Added description for packages.
* Sun Mar 9 2008 Feng Yu <rainwoodman@gmail.com>
- Properly install doc.
- Added French locale 
* Fri Mar 7 2008 Feng Yu <rainwoodman@gmail.com>
- Install doc
- Added depencency
- Added the mo file.
- distribute gtk2-aqd patch
* Fri Mar 5 2008 Feng Yu <rainwoodman@gmail.com>
- Enable schemas.
* Fri Feb 29 2008 Feng Yu <rainwoodman@gmail.com>
- Split into many sub packages.
* Mon Jan 14 2008 Feng Yu <rainwoodman@gmail.com>
- Added schema
* Wed Jan 09 2008 Feng Yu <rainwoodman@gmail.com>
- Added description

# vim:ts=4:sw=4
