Source: gnome2-globalmenu-applet
Section: gnome
Priority: extra
Maintainer: rainwoodman <rainwoodman@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev, libgtk2.0-dev (>=2.7.0), libpanel-applet2-dev (>=2.0.0) xfce4-panel-dev libwnck-1.0 (>=2.20)
Standards-Version: 3.7.2

Package: gnome2-globalmenu-applet
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Global menubar for Gnome
 The goal of this project is to make it possible 
 for the gnome applications' windows to share one
 location for their menu bar.
 Homepage: http://code.google.com/p/gnome2-globalmenu/

Package: libgnomenu
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Global menubar library for Gnome
 The goal of this project is to make it possible 
 for the gnome applications' windows to share one
 location for their menu bar.
 Homepage: http://code.google.com/p/gnome2-globalmenu/
